{% extends "base.html" %}

{% block content %}
<h1>Staff coordinator application</h1>

<p>Dear Prospective Coordinators,</p>

<p>I would like to thank you for your interest in staffing at McMUN 2014. Without the dedication and commitment of McGill students, this conference would not be possible. The McGill Model United Nations Assembly (McMUN) is an innovative Model United Nations conference, in its twenty-fifth year, organized and run by a dedicated team of McGill University students. Committees simulate everything from traditional United Nations bodies, such as the United Nations Trusteeship Council, to unique, historically-motivated crisis committees, including The Triple Joint: People Power Revolution. McMUN attracts over 1,400 delegates from across Canada, the United States, and internationally. Each year, upwards of 500 McGill students volunteer their time to ensure the efficient and successful operation of McMUN.</p>

<p>We are currently recruiting Staff Coordinators, responsible for supporting the Chief of Staff in a number of different portfolios. A Coordinator position is a fantastic way to become more involved in the organization of McMUN. Each portfolio focuses on a vital part of the conference, described in detail here. Please note that a Coordinator position does involve a greater time commitment than other logistical positions at McMUN. The following key dates are mandatory, along with regular weekly meetings during the Fall 2013 semester:</p>

<ul>
    <li>Saturday, January 11th: Logistical Staff Training</li>
    <li>Thursday, January 16th: Staff Hype Night</li>
    <li>Sunday, January 19th: Secretariat Meeting</li>
    <li>Tuesday, January 21st: McStuffing<li>
    <li>Thursday, January 23rd - Sunday, January 26th: McMUN 2014</li>
</ul>

<p>For a position requiring a smaller time commitment, but of equal importance, consider applying for a logistical staff position, which include pages, staff room staff, and many other roles. These applications will be released on November 10th. Be sure to check our <a href="https://www.facebook.com/pages/McMUN/62890916494">official Facebook page</a> for updates!</p>

<p>If you have any questions regarding staffing at McMUN, please feel free to contact me at <a href="mailto:staff@mcmun.org">staff@mcmun.org</a>.</p>

<p>Best,</p>

<p>Haya Khoury
<br />
Chief of Staff</p>

<br />

<form action="" method="post" enctype="multipart/form-data" id="staff-coordinator-form">
	{% csrf_token %}

	<fieldset>
	{% for field in form %}
		<dl>
			<dt>
				{{ field.label_tag }}
			</dt>
			<dd>
				{{ field }} {{ field.errors }}
			</dd>
		</dl>
	{% endfor %}
	</fieldset>

	<fieldset class="submit">
		<input type="submit" name="submit" value="Submit" />
	</fieldset>
</form>

{% endblock %}
