{% extends "base.html" %}

{% block content %}
<h1>Your dashboard</h1>

{% if user.is_staff %}
<p>This is what the head delegate for {{ school }} would see if they were viewing the dashboard. You can't see the scholarship application, though. You can, however, use the change password and logout links.</p>
{% endif %}

{% if school %}
<table id="dashboard-table">
	<tr>
		<td>
			<div id="profile">
				<h3>{{ school }}</h3>

				<p>
					{{ school.first_name }} {{ school.last_name }}
					<br />
					{{ school.address }}
					<br />
					{{ school.get_country_display }}
					<br />
					{{ school.phone_number }}
				</p>
				<br />
				<p>
					<strong>Email address:</strong> {{ user.username }}
					<br />
					<a href="{% url password %}">Change your password</a> :: <a href="{% url logout %}">Log out</a>
				</p>
			</div>
		</td>
		<td>
			<div id="invoice">
				<h2>Invoice details</h2>
				<p>
					<strong>Number of delegates:</strong> {{ school.num_delegates }}
					<br />
					<strong>Payment method:</strong> {% if school.use_online_payment %}online payment{% else %}by cheque{% endif %}
					<br />
					<strong>Tiered payment:</strong> {% if school.use_tiered %}Yes{% else %}No{% endif %}
					<br />
					<strong>Priority registration:</strong> {% if school.use_priority %}Yes{% else %}No{% endif %}
					<br />
					<strong>Amount owed:</strong> {{ school.amount_owed }} {{ school.get_currency }}
					<br />
					<strong>Amount paid:</strong> ${{ school.amount_paid }} {{ school.get_currency }}
				</p>
				<p>Lost your copy of your invoice PDF? Email it@mcmun.org.{% comment %}Eventually I'll make a view to show the PDF to people with the proper permissions. Later.{% endcomment %}</p>
			</div>
		</td>
	</tr>
</table>

<h2 id="events">Event registration</h2>

{% if event_form %}
<p>If you are interested in attending the Friday night social event, please fill out the form below. Delegates have a choice between <a href="http://www.mcmun.org/social-events#pub-crawl">Pub Crawl</a> and a non-alcoholic event (the details of which will be released closer to the conference itself).</p>
<form method="post" action="{% url events %}">
	{% csrf_token %}

	<fieldset>
	{% for field in event_form %}
		<dl>
			<dt>
				{{ field.label_tag }}
			</dt>
			<dd>
				{{ field }} {{ field.errors }}
			</dd>
		</dl>
	{% endfor %}
	</fieldset>

	<fieldset class="submit">
		<input type="submit" name="submit" value="Submit" />
	</fieldset>
</form>
{% else %}
<p>You have indicated that there are <strong>{{ school.num_pub_crawl }}</strong> delegate{{ school.num_pub_crawl|pluralize }} interested in attending Pub Crawl and <strong>{{ school.num_non_alcohol }}</strong> delegate{{ school.num_non_alchol|pluralize }} who would prefer to attend a non-alcoholic event instead.</p>

<p>If you need to make changes to these numbers, please contact Daniel Stysis at <a href="charge@mcmun.org">charge@mcmun.org</a>.</p>
{% endif %}

<div id="scholarship">
	<h2>Scholarship application</h2>
	{% if form %}
		{% include 'scholarship_form.html' %}
	{% else %}
		<p>Thank you for completing the scholarship application. You will receive information regarding the status of your scholarship by December 1<sup>st</sup>. If you have any questions or wish to change or add information to your application, please do not hesitate to contact our Chargé D’Affaires, Daniel Stysis at charge@mcmun.org.</p>
	{% endif %}
</div>
{% else %}
<p>Unfortunately there's nothing for you to see here. Please move along.</p>
{% endif %}

{% endblock %}
