{% extends "base.html" %}

{% block content %}
<h1>Log in</h1>

<form method="post" action="{% url login %}">
	{% if form.errors %}
	<fieldset class="errors">
		<p>Your username and password didn't match. Please try again.</p>
	</fieldset>
	{% endif %}

	{% csrf_token %}
	<table>
	<tr>
		<td><label for="id_username">Email address</label></td>
		<td>{{ form.username }}</td>
	</tr>
	<tr>
		<td>{{ form.password.label_tag }}</td>
		<td>{{ form.password }}</td>
	</tr>
	</table>

	<input type="submit" value="login" />
	<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
