@import "fonts.less";
@import "variables.less";
@import "mixins.less";
@import "menu.less";
@import "forms.less";

* {
	margin: 0;
	padding: 0;
}

img {
	border: 0;
}

body {
	#sans-serif;
	font-size: 13px;
	color: @bodyText;
	width: 100%;
    background-color: @bodyBg;
    background-image: url('../img/montreal.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top left;
    overflow-y: scroll;
    height: 100%;
}

.container {
	margin: 0 auto;
	width: @containerWidth;
}

#masthead {
    text-align: center;
    padding-top: 70px;

	.title {
        margin: 40px 0;
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 30px;
        color: @white;
		.header-font;
		font-weight: normal;
        font-size: 1.4em;
        line-height: 30px;
	}
}

#social-media-wrapper {
    .container;
    position: relative;
}

#social-media {
    position: absolute;
    right: 0px;
    top: -75px;

    a {
        text-decoration: none;
        .inline-block;
        width: 32px;
        height: 32px;
        &:hover {
            background-position: 0px 32px;
        }
    }
    .twitter {
        background-image: url('../img/twitter.png');
    }
    .facebook {
        background-image: url('../img/facebook.png');
    }
    .email {
        background-image: url('../img/email.png');
    }
}

a {
    color: @lightBlue;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        color: @darkBlue;
    }
}


#content-wrapper {
    .container;
    background: @contentBg;
    min-height: 200px;
    padding: 0 30px;
}

#content {
    .container;
    padding: 30px 0;
	position: relative;
	font-size: 13px;
    overflow: auto;

    ul, ol {
        margin: 10px 0 10px 20px;

        &.horizontal {
            margin-left: 0;

            li {
                .inline-block;
            }
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    .secondary-font;
    padding-top: 25px;
    padding-bottom: 10px;
    clear: both;
}

h1 {
    padding-top: 0;
    font-size: 3.5em;
}

h1 + h2 {
    padding-top: 10px;
}

h2 + h3, h3 + h3 {
    padding-top: 0px;
}

h2 + h3 {
    padding-bottom: 0px;
}

h2 {
    font-size: 2.0em;
    color: @darkGrey;
}

dl {
    margin-bottom: 10px;

    dd, dt {
        float: left;
    }

    dt + dd {
        padding-top: 20px;
    }

    dd + dd {
        clear: left;
        margin-left: 200px;
    }

    dt {
        padding-top: 20px;
        width: 200px;
        clear: left;
        font-weight: bold;
    }
}

dl + * {
    clear: both;
    padding-top: 20px;
}

dl + h3 {
    position: relative;
    top: 5px;
    font-size: 1.5em;
}

table {
    width: 100%;
    border: 1px solid @lighterGrey;
    border-left: 0;
    border-spacing: 0;
    margin: 15px 0;

    th, td {
        padding: 8px;
        line-height: 18px;
        text-align: left;
        border-left: 1px solid @lighterGrey;
    }

    th {
        border-bottom: 1px solid @lighterGrey;
    }
}

p + p, p + dl {
    margin-top: 10px;
}

.footnote {
    margin-top: 10px;
}

big {
    font-size: 1.7em;
}

blockquote {
    font-size: 1.4em;
    font-weight: bold;
    margin: 0 50px;
    text-align: center;
    margin-bottom: 15px;
}

hr {
    margin: 15px 0;
}

#carousel {
    margin-top: -30px;
    position: relative;
    height: 250px;

    .slide {
        .hidden;

        &.active {
            display: block !important;
        }

        span {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
            width: 100%;
            font-size: 2.0em;
            .header-font;
            color: white;
            text-transform: uppercase;
            text-shadow: 2px 2px 2px black;
            background: rgba(0, 0, 0, 0.5);
            padding: 5px 0;
        }
    }
}

.link-block {
	.inline-block;
	height: 200px;
	position: relative;
	a {
		z-index: 2;
		position: absolute;
		left: 0px;
		bottom: 0px;
		text-align: center;
		height: 50px;
		width: 283px;
		display: block;
		line-height: 50px;
		color: #FFF !important;
		.grey-bg(@linkBlockBgRgb, @linkBlockBgAlpha);
		text-decoration: none;
		font-size: 1.3em;
		font-weight: bold;
		&:hover {
			.grey-bg(@linkBlockBgHoverRgb, @linkBlockBgHoverAlpha);
			text-decoration: none !important;
		}
	}
	& + .link-block {
		margin-left: 21px;
	}
}

#sec-bios {
    @panelHeight: 600px;

	width: 600px;
    height: @panelHeight;
    overflow-y: scroll;
	.bio {
		position: absolute;
		width: 330px;
		height: @panelHeight;
		top: 60px;
		right: 0px;
		.hidden;
		h3 {
			padding-top: 0px;
			color: @mediumGrey;
			padding-bottom: 10px;
		}
	}
	.photo {
		.inline-block;
		cursor: pointer;
		position: relative;
		img {
			border: 5px solid @white;
		}
		&.active img {
			border-color: @black;
		}
		&:hover img {
			border-color: @red;
		}
		.title-hover {
			position: absolute;
			bottom: 7px;
			left: 5px;
			right: 5px;
			.grey-bg(20, 0.7);
			color: @white;
			padding: 5px;
			display: none;
		}
	}
}

#fee-information {
	.hidden;
	padding-top: 10px;
}

#staffing-signup {
	padding-top: 20px;
	form {
		.right-float;
	}
}

#dashboard-table {
	td {
		vertical-align: top;
		h2, h3 {
			padding-top: 10px;
		}
	}
}

#scholarship-form {
	input[type=text], textarea {
		width: 520px;
	}
	dt {
		width: 300px !important;
		margin-right: 50px;
	}
}

// Make the two inputs on one line less wide, so they both fit
#id_previous_scholarship_amount, #id_previous_scholarship_year {
	width: 50px !important;
}

#staff-dates {
	td:nth-child(3), td:nth-child(4), td:nth-child(5) {
		.center-align;
	}

	.check {
		font-size: 1.5em;
		color: @white;
		background: @lightBlue;
		&:before {
			content:'\2713';
		}
	}

	.invited {
		background: @lighterBlue;
	}
}

#committees-grid {
	list-style-type: none;
	li {
		vertical-align: top;
		.inline-block;
		width: 200px;
		text-align: center;

		img {
			height: 100px;
		}
	}
}

.separated-cells td {
    border-top: 1px solid lighten(@lighterGrey, 5%);
}

#search-box {
    position: absolute;
    top: 7px;
    right: 0px;
    input {
        width: 150px;
        outline: 0;
        border: 1px solid #CCC;
        padding: 3px;
        padding-left: 20px;
        background-image: url('../img/search.png');
        background-repeat: no-repeat;
        background-position: 0 6px;
        height: 19px;
        &:focus {
            border: 1px solid @lightBlue;
        }
    }
}

#footer {
    .container;
    padding: 30px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    color: @white;
}

.row {
    clear: left;
    padding: 20px 0;
}

.one-third {
    float: left;
    width: @containerWidth / 3 - 40px;
    text-align: center;
    padding: 0 20px;

    h2 {
        line-height: 1.0em;
        text-transform: uppercase;

        small {
            font-size: 16px;
            color: @lightGrey;
            text-transform: lowercase;
        }
    }
}

.major-heading {
    color: @lightBlue;
    font-size: 2.3em;
    text-align: center;
}

.silver-heading {
    color: #C0C0C0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 2.3em;
    font-weight: normal;
    padding-top: 0;
}

.unclear {
    clear: none;
}
