@import "fonts.less";
@import "variables.less";
@import "mixins.less";
@import "menu.less";

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: @bodyBg;
	#sans-serif;
	font-size: 12px;
	color: @bodyText;
	width: 100%;
	background-image: url('../img/montreal.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top left;
	overflow-y: scroll; // to eliminate the jostling when switching pages
}

.container {
	margin: 0 auto;
	width: @containerWidth;
}

#header {
	.container;
	background-image: url('../img/dove.png');
	background-repeat: no-repeat;
	background-position: 0 20px;
	height: 320px;
}

#masthead {
	position: relative;
	padding-top: 20px;
	padding-left: 50px;
	.title {
		position: absolute;
		top: 35px;
		right: 180px;
		color: #FFF;
		#raleway;
		font-weight: normal;
		text-shadow: @headerTextShadow 0 2px 0;
		text-align: right;
		.top {
			font-size: 2.1em;
			// Needed for proper sizing in Windows
			line-height: 1.2em;
		}
		.middle {
			font-size: 5.7em;
			line-height: 1.0em;
		}
		.bottom {
			font-size: 2.1em;
			font-weight: bold;
			line-height: 1.2em;
		}
	}
	.social-media {
		position: absolute;
		right: 0px;
		bottom: -10px;
		a {
			text-decoration: none;
			.inline-block;
			width: 32px;
			height: 32px;
			&:hover {
				background-position: 0px 32px;
			}
		}
		.twitter {
			background-image: url('../img/twitter.png');
		}
		.facebook {
			background-image: url('../img/facebook.png');
		}
		.email {
			background-image: url('../img/email.png');
		}
	}
}

#content {
	position: relative;
	width: 900px;
	margin: 0 auto;
	padding: 30px;
	font-size: 13px;
	h1, h2, h3, h4, h5, h6 {
		padding-top: 25px;
		padding-bottom: 10px;
	}
	h1 {
		padding-top: 0;
		font-size: 3.5em;
		#raleway;
	}
	h2 {
		font-size: 2.0em;
		color: @darkGrey;
	}
	overflow: auto;
	background: @contentBg;
	margin-bottom: 30px;
	ul, ol {
		margin: 10px 0 10px 20px;
	}
	dl {
		dt {
			font-weight: bold;
		}
		dd {
			margin-left: 20px;
		}
	}
	a {
		color: @lightBlue;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
			color: @darkBlue;
		}
	}
	table {
		width: 100%;
		border: 1px solid @lighterGrey;
		border-left: 0;
		border-spacing: 0;
		th, td {
		    padding: 8px;
		    line-height: 18px;
		    text-align: left;
		    border-left: 1px solid @lighterGrey;
		}
		th {
		    border-bottom: 1px solid @lighterGrey;
		}
		margin: 15px 0;
	}
	p + p {
		margin-top: 10px;
	}
}

#carousel {
	position: relative;
	width: 840px;
	height: 240px;
	padding: 30px;
	#gradient(@carouselBgStart, @carouselBgEnd);
	box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.35);
	margin-bottom: 30px;
	#carousel-image {
		float: left;
		width: 600px;
		height: 240px;
		&.registration {
			background-image: url('../img/registration.jpg');
		}
		&.welcome {
			background-image: url('../img/welcome.jpg');
		}
		&.committees {
			background-image: url('../img/committees.jpg');
		}
	}
	#carousel-blocks {
		float: left;
		height: 100%;
		width: 240px;
		div {
			height: 80px;
			#raleway;
			font-size: 2.0em;
			font-weight: bold;
			text-transform: uppercase;
			line-height: 80px;
			text-align: right;
			background: @carouselBg;
			color: @carouselText;
			padding-right: 30px;
			&:hover {
				background: @carouselHoverBg;
				cursor: pointer;
			}
			&.active {
				background: @carouselActiveBg;
				a {
					display: block;
				}
			}
			a {
				padding-left: 10px;
				text-transform: none;
				text-decoration: none;
				font-size: 0.9em;
				color: @white;
				text-align: left;
				.hidden;
				z-index: 5;
				position: absolute;
				bottom: 30px;
				left: 30px;
				right: 270px;
				height: 40px;
				line-height: 40px;
				.grey-bg(10, 0.8);
				&:after {
					// A space and a &raquo;
					content: "\00a0\00BB";
				}
			}
		}
	}
}

.link-block {
	.inline-block;
	height: 200px;
	position: relative;
	a {
		z-index: 2;
		position: absolute;
		left: 0px;
		bottom: 0px;
		text-align: center;
		height: 50px;
		width: 283px;
		display: block;
		line-height: 50px;
		color: #FFF !important;
		.grey-bg(@linkBlockBgRgb, @linkBlockBgAlpha);
		text-decoration: none;
		font-size: 1.3em;
		#raleway;
		font-weight: bold;
		&:hover {
			.grey-bg(@linkBlockBgHoverRgb, @linkBlockBgHoverAlpha);
			text-decoration: none !important;
		}
	}
	& + .link-block {
		margin-left: 21px;
	}
}

#sec-bios {
	width: 600px;
	.bio {
		position: absolute;
		width: 300px;
		height: 500px;
		top: 60px;
		right: 30px;
		.hidden;
		h3 {
			padding-top: 0px;
			color: @mediumGrey;
		}
	}
	.photo {
		.inline-block;
		cursor: pointer;
		img {
			border: 5px solid @white;
		}
		&.active img {
			border-color: @black;
		}
		&:hover img {
			border-color: @red;
		}
	}
}
