#menu {
	z-index: 3;
	position: absolute;
	top: 260px;
	width: 100%;
	height: 35px;
	.alpha-bg(@menuBgR, @menuBgG, @menuBgB, 0.4);
	text-align: center;
	color: @menuText;
	ul {
		list-style-type: none;
	}
	> ul li {
		.inline-block;
		a {
			display: block;
			height: 35px;
			padding: 0 20px;
			font-size: 1.5em;
			line-height: 35px;
			#raleway;
			font-weight: bold;
			text-transform: lowercase;
			text-decoration: none;
			color: #FFF;
			&:hover {
				.alpha-bg(@menuHoverBgR, @menuHoverBgG, @menuHoverBgB, 0.4);
			}
		}
		ul {
			display: none;
		}
		&:hover > ul, > ul:hover {
			display: block;
			position: absolute;
			top: 35px;
		}
		> ul li {
			display: block;
			background: @menuDropdownBg;
			text-align: left;
			font-size: 9px;
		}
	}
}
