// Colour scheme
@black:					#000;
@darkGrey:				rgb(35, 31, 32); // The star alliance colour
@mediumGrey:			#555;
@white:					#FFF;

// Component colours
@bodyBg:				@black;
@bodyText:				@darkGrey;

@headerTextShadow:		@black;

@contentBg:				@white;

@carouselBg:			@darkGrey;
@carouselText:			@white;
@carouselHoverBg:		@mediumGrey;

@menuText:				@white;
@menuDropdownBg:		@darkGrey;
@menuBgR:				105;
@menuBgG:				101;
@menuBgB:				102;
@menuHoverBgR:			155;
@menuHoverBgG:			151;
@menuHoverBgB:			152;

@linkBlockBgRgb:		0;
@linkBlockBgAlpha:		0.9;
@linkBlockBgHoverRgb:	50;
@linkBlockBgHoverAlpha:	0.8;


// Dimensions
@containerWidth:		900px;
