{% extends "base.html" %}

{% load markup %}

{% block content %}

{% if show_manage_link %}
<p class="right-float">
    <a href="{% url 'committee_manage' committee.slug %}">
        {% if user.is_authenticated %}
            Manage this committee &raquo;
        {% else %}
            Login to manage this committee &raquo;
        {% endif %}
    </a>
</p>
{% endif %}

<p class="left-float">
    <a href="/committees-list">&laquo; Back to committees</a>
</p>

<div class="clear"></div>

<div class="center-align">
    <img src="{{ STATIC_URL }}img/committees/{{ committee.slug }}.png" />
</div>

<br />

<h1>{{ committee.name }}</h1>

{% if is_dais %}
<div class="center-align">
    <big><a href="{% url 'list_papers' committee.slug %}">View position papers</a></big>
</div>
{% endif %}

{{ committee.description|markdown:"footnotes,def_list,tables" }}

<h2>Dais</h2>

{% include dais_template %}

{% endblock %}
