{% extends "base.html" %}

{% block content %}
<h1>Committee dashboard</h1>
<h2>{{ committee }}</h2>
<p>
    This committee has {{ committee.get_num_delegates }} delegates.
</p>

<hr />

<ul>
    <li>
        <a href="{% url 'list_papers' committee.slug %}">
            View position papers
        </a>
    </li>
    <li>
        <a href="{% url 'committee_awards' committee.slug %}">
            Choose award winners
        </a>
    </li>
    <li>
        <a href="{% url 'committee_timer' committee.slug %}">
            Timer
        </a>
    </li>
</ul>
{% endblock %}
