{% extends "base.html" %}

{% block content %}
<p>
    <a href="{% url 'committee_manage' committee.slug %}">
        &laquo; Back to committee dashboard
    </a>
</p>
<h1>View position papers</h1>
<h2>{{ committee }}</h2>

<table>
    <thead>
        <tr>
            <th>Position</th>
            <th>Delegate name(s)</th>
            <th>School</th>
            <th>Position paper</th>
        </tr>
    </thead>
    <tbody>
        {% for assignment in assignments %}
        <tr>
            <td>{{ assignment.assignment }}</td>
            <td>
                {% for delegate in assignment.delegateassignment_set.all %}
                {{ delegate }}<br />
                {% endfor %}
            </td>
            <td>{{ assignment.school }}</td>
            <td>
                {% if assignment.position_paper %}
                <strong><a href="/{{ assignment.position_paper }}">Download</a></strong>
                {% else %}
                N/A
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
