<table>
    <tr>
        <th>Crisis Director</th>
        <th>Assistant Crisis Director</th>
        <th>Chair</th>
        <th>Vice-Chair</th>
    </tr>
    <tr>
        <td>Tom Freeman</td>
        <td>Gabriel Gilling</td>
        <td>Felicia Mazzarello</td>
        <td>Emily Cruz Isgro</td>
    </tr>
    <tr>
        <td><img src="{{ DAIS_PHOTO_URL }}tom-freeman.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}gabriel-gilling.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}felicia-mazzarello.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}emily-cruz-isgro.jpg" /></td>
    </tr>
</table>
