<table>
	<tr>
		<th>Chair</th>
		<th colspan="3">Vice-Chair</th>
	</tr>
	<tr>
		<td>Sophia Sunderji</td>
		<td>Zheng Mason Sun</td>
		<td>Lucie Gareton</td>
		<td>Athulya Thattuparambil Anilkumar</td>
	</tr>
	<tr>
		<td><img src="{{ DAIS_PHOTO_URL }}sophia-sunderji.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}zheng-mason-sun.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}lucie-gareton.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}athulya-thattuparambil-anilkumar.jpg" /></td>
	</tr>
</table>
