<table>
	<tr>
		<th>Chair</th>
		<th colspan="4">Vice-Chair</th>
	</tr>
	<tr>
		<td>Nikhil Garg</td>
		<td>Beemnet Alemayehu</td>
		<td>Cassandra Douglas</td>
		<td>Judy Zhu</td>
		<td>Veeraje Bhonsle</td>
	</tr>
	<tr>
		<td><img src="{{ DAIS_PHOTO_URL }}nikhil-garg.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}beemnet-alemayehu.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}cassandra-douglas.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}judy-zhu.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}veeraje-bhonsle.jpg" /></td>
	</tr>
</table>
