<table>
	<tr>
		<th>Crisis Director</th>
		<th colspan="2">Assistant Crisis Directors</th>
	</tr>
	<tr>
		<td>Nick Ellery</td>
		<td>Emmett Meacher</td>
		<td>Andrew Francis</td>
	</tr>
	<tr>
		<td><img src="{{ DAIS_PHOTO_URL }}nick-ellery.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}emmett-meacher.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}andrew-francis.jpg" /></td>
	</tr>
</table>

<h3>Korea + USA + Canada</h3>

<table>
	<tr>
		<th>Chair</th>
		<th>Vice-Chair</th>
	</tr>
	<tr>
		<td>Rida Malik</td>
		<td>Heather Lee</td>
	</tr>
	<tr>
		<td><img src="{{ DAIS_PHOTO_URL }}rida-malik.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}heather-lee.jpg" /></td>
	</tr>
</table>

<h3>DPRK + RF + PRC</h3>

<table>
	<tr>
		<th>Chair</th>
		<th>Vice-Chair</th>
	</tr>
	<tr>
		<td>Jess de Santi</td>
		<td>Alexis Giannelia</td>
	</tr>
	<tr>
		<td><img src="{{ DAIS_PHOTO_URL }}jess-de-santi.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}alexis-giannelia.jpg" /></td>
	</tr>
</table>
