<table>
	<tr>
		<th>Chair</th>
		<th colspan="3">Vice-Chairs</th>
	</tr>
	<tr>
		<td><a href="mailto:jssdesanti1@gmail.com">Jessica De Santi</a></td>
		<td>Minu Walia</td>
		<td>Sherry Esfandnia</td>
		<td>Ryan Mitton</td>
	</tr>
	<tr>
		<td><img src="{{ DAIS_PHOTO_URL }}jessica-de-santi.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}minu-walia.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}sherry-esfandnia.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}ryan-mitton.jpg" /></td>
	</tr>
</table>
