<table>
    <tr>
        <th>Crisis Director</th>
        <th colspan="1">Assistant Crisis Directors</th>
    </tr>
    <tr>
        <td>Thomas Berube-Giguere</td>
        <td>Kim Kidani</td>
    </tr>
    <tr>
        <td><img src="{{ DAIS_PHOTO_URL }}thomas-berube-giguere.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}kim-kidani.jpg" /></td>
    </tr>
</table>

<table>
    <tr>
        <th>Chair</th>
        <th>Vice-Chair</th>
    </tr>
    <tr>
        <td>Anirudh Desai</td>
        <td>Marta Canneri</td>
    </tr>
    <tr>
        <td><img src="{{ DAIS_PHOTO_URL }}anirudh-desai.jpg" /></td>
        <td><img src="{{ DAIS_PHOTO_URL }}marta-canneri.jpg" /></td>
    </tr>
</table>
