<table>
	<tr>
		<th>Crisis Director</th>
		<th colspan="1">Assistant Crisis Directors</th>
	</tr>
	<tr>
		<td>Thomas Bérubé-Giguere</td>
		<td>Harmon Moon</td>
	</tr>
	<tr>
		<td><img src="{{ DAIS_PHOTO_URL }}thomas-berube-giguere.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}harmon-moon.jpg" /></td>
	</tr>
</table>

<table>
	<tr>
		<th>Chair</th>
		<th>Vice-Chair</th>
	</tr>
	<tr>
		<td>Charlotte Candea</td>
		<td>Haider Ali</td>
	</tr>
	<!--
	<tr>
		<td><img src="{{ DAIS_PHOTO_URL }}charlotte-candea.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}haider-ali.jpg" /></td>
	</tr>
	-->
</table>

