<table>
	<tr>
		<th>Crisis Director</th>
		<th>Assistant Crisis Director - USA</th>
		<th>Assistant Crisis Director - South American States</th>
	</tr>
	<tr>
		<td>Janet McMillian</td>
		<td>Jonathan Schmidt</td>
		<td>Andrea Schweitzer</td>
	</tr>
	<tr>
		<td><img src="{{ DAIS_PHOTO_URL }}janet-mcmillan.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}jonathan-schmidt.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}andrea-schweitzer.jpg" /></td>
	</tr>
</table>

<h3>USA</h3>

<table>
	<tr>
		<th>Chair</th>
		<th>Vice-Chair</th>
	</tr>
	<tr>
		<td>Gijs Leenders</td>
		<td>Lauren Konken</td>
	</tr>
	<tr>
		<td><img src="{{ DAIS_PHOTO_URL }}gijs-leenders.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}lauren-konken.jpg" /></td>
	</tr>
</table>

<h3>South American States</h3>

<table>
	<tr>
		<th>Chair</th>
		<th>Vice-Chair</th>
	</tr>
	<tr>
		<td>Chloe Reis</td>
		<td>Layla Ranjbar</td>
	</tr>
	<tr>
		<td><img src="{{ DAIS_PHOTO_URL }}chloe-reis.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}layla-ranjbar.jpg" /></td>
	</tr>
</table>
