<table>
	<tr>
		<th>Crisis Director</th>
		<th colspan="2">Assistant Crisis Director</th>
	</tr>
	<tr>
		<td>Radu Giosan</td>
		<td>Aaron Noronha</td>
		<td>Ali Aasim</td>
	</tr>
	<tr>
		<td><img src="{{ DAIS_PHOTO_URL }}radu-giosan.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}aaron-noronha.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}ali-aasim.jpg" /></td>
	</tr>
</table>

<h3>Marcos, Enrile, Ramos + Armed Forces</h3>

<table>
	<tr>
		<th colspan="2">Co-Chair</th>
		<th colspan="2">Vice Chair</th>
	</tr>
	<tr>
		<td>Azam Mahmood</td>
		<td>Alexandria Proctor</td>
		<td>Kelly Chiu</td>
		<td>Insiya Zahra Mankani</td>
	</tr>
	<tr>
		<td><img src="{{ DAIS_PHOTO_URL }}azam-mahmood.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}alexandria-proctor.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}kelly-chiu.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}insiya-zahra-mankani.jpg" /></td>
	</tr>
</table>

<h3>Cardinal Sin + NAMFREL</h3>

<table>
	<tr>
		<th>Chair</th>
		<th>Vice Chair</th>
	</tr>
	<tr>
		<td>Victoria Gillan</td>
		<td>Jassie Badon</td>
	</tr>
	<tr>
		<td><img src="{{ DAIS_PHOTO_URL }}victoria-gillan.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}jassie-badon.jpg" /></td>
	</tr>
</table>

<h3>UNSC (1986)</h3>

<table>
	<tr>
		<th>Crisis Director</th>
		<th colspan="2">Assistant Crisis Director</th>
		<th>Vice-Chair</th>
	</tr>
	<tr>
		<td>Ameya Pendse</td>
		<td>Jimmy Lou</td>
		<td>Diana Baranga</td>
		<td>Josh Shapiro</td>
	</tr>
	<tr>
		<td><img src="{{ DAIS_PHOTO_URL }}ameya-pendse.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}jimmy-lou.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}diana-baranga.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}josh-shapiro.jpg" /></td>
	</tr>
</table>
