<h3>Dubai, UAE</h3>

<table>
	<tr>
		<th>Chair</th>
		<th colspan="3">Vice-Chair</th>
	</tr>
	<tr>
		<td>Sabrina Ostrowski</td>
		<td>Prasanth Selvakumar</td>
		<td>Phoebe Zamaunel</td>
		<td>Layla Makhzoumi</td>
	</tr>
	<tr>
		<td><img src="{{ DAIS_PHOTO_URL }}sabrina-ostrowski.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}prasanth-selvakumar.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}phoebe-zamaunel.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}layla-makhzoumi.jpg" /></td>
	</tr>
</table>

<h3>Guangzhou, PRC</h3>

<table>
	<tr>
		<th>Chair</th>
		<th colspan="3">Vice-Chair</th>
	</tr>
	<tr>
		<td>Serena Wang</td>
		<td>Xiaocai Fu</td>
		<td>Christina Yang</td>
		<td>Megan Ma</td>
	</tr>
	<tr>
		<td><img src="{{ DAIS_PHOTO_URL }}serena-wang.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}xiaocai-fu.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}christina-yang.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}megan-ma.jpg" /></td>
	</tr>
</table>
