<div id="carousel">
    <div class="slide active">
        <img src="{{ STATIC_URL }}img/carousel/oc.jpg" />
        <span>Celebrating 25 years of excellence</span>
    </div>
    <div class="slide">
        <img src="{{ STATIC_URL }}img/carousel/committees.jpg" />
        <span>26 innovative committees</span>
    </div>
    <div class="slide">
        <img src="{{ STATIC_URL }}img/carousel/collaboration.jpg" />
        <span>1400 delegates</span>
    </div>
    <div class="slide">
        <img src="{{ STATIC_URL }}img/carousel/keynote.jpg" />
        <span>Distinguished speakers</span>
    </div>
</div>

