<div id="carousel">
	<div id="carousel-image" class="registration">
	</div>
	<div id="carousel-blocks">
		<div data-image="registration" class="active"><span>Registration</span><a href="/registration">Opens August 1</a></div>
		<div data-image="welcome"><span>Welcome</span><a href="/welcome">Welcome to the 24th annual McMUN</a></div>
		<div data-image="committees"><span>Committees</span><a href="/committees">26 innovative committees</a></div>
	</div>
</div>

<div class="link-block">
	<img src="/static/img/tour.jpg" alt="" />
	<a href="/tour-de-montreal">Tour de Montreal</a>
</div>

<div class="link-block">
	<img src="/static/img/brochure.png" alt="" />
	<a href="/about-mcmun#brochure">McMUN brochure</a>
</div>

<div class="link-block">
	<img src="/static/img/staralliance.png" alt="" />
	<a href="/travel#star-alliance">Star Alliance</a>
</div>
