<ul>
	<li><a href="#club-registration-fee">Club registration fee</a></li>
	<li><a href="#per-delegate-fee">Per-delegate fee</a></li>
	<li><a href="#payment-options">Payment options</a></li>
	<li><a href="#payment-methods">Payment methods</a></li>
	<li><a href="#refund-policy">Refund policy</a></li>
</ul>

<p>The McMUN registration fee consists of two parts: the club registration fee, and the per-delegate fee.</p>

<h2 id="club-registration-fee">Club registration fee</h2>

<p>A one-time, non-refundable fee of $75 per delegation, regardless of delegation size.</p>

<h2 id="per-delegate-fee">Per-delegate fee</h2>

<table>
	<thead>
		<tr>
			<th>Priority (September 1 - October 1)</th>
			<th>Regular (October 2 - November 18)</th>
			<th>International (August 1 - November 18)</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>$80</td>
			<td>$95</td>
			<td>$50</td>
		</tr>
	</tbody>
</table>

<p>Please note that both American and overseas schools pay in USD and Canadian schools pay in Canadian dollars. Only schools located outside the US and Canada are considered to be international.</p>

<h2 id="payment-options">Payment options</h2>

<p>Delegations have the option to pay either in full or in a tiered system of deposit and remainder. The deposit includes the delegation registration fee and 50% of the total per-delegate fee (75 + 0.5*[per-delegate fee]*[number of delegates]).</p>

<p>For priority registration, the deposit must be received by October 1st. For regular registration, the deposit must be received by November 18th. In either case, the remainder is due by December 1st.</p>

<h2 id="payment-methods">Payment methods</h2>

<p>The recommended payment method is Paypal. If paying by Paypal is not possible, we also accept cheques sent via courier delivery or regular mail, at the following addresses:</p>

<table>
	<thead>
		<tr>
			<th>Courier delivery</th>
			<th>Regular mail</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>McGill Model United Nations Assembly<br />c/o IRSAM Inc.<br />3480 rue McTavish, Suite 410<br />Montreal, Quebec, Canada<br />H3A 1X9</td>
			<td>McMUN 2012<br />P.O Box 13<br />Succursale Place de Parc<br />Montreal, Quebec, Canada<br />H2X 4A3</td>
		</tr>
	</tbody>
</table>

<p>Please make all funds payable to IRSAM (International Relations Students’ Association of McGill).</p>

<p>We urge delegations to either pay by Paypal or use a courier posting service for cheques, as our experience has shown that cheques sent via regular post tend to get delayed, and in some cases, lost.</p>

<h2 id="refund-policy">Refund policy</h2>

<p>The $75 delegation registration fee is a one-time non-refundable fee per delegation.</p>

<p>If you decide not to join us at McMUN 2013:</p>

<ul>
	<li>Before November 18th, your refund will be the payment received minus the <a href="#club-registration-fee">club registration fee</a>.</li>
	<li>Before January 1st, your refund will be the payment received minus the deposit.</li>
</ul>

<p>Please note that after January 1st there are no refunds under any circumstances.</p>
